.home-container {
  margin-top: 20px;
}

.page-container {
 background: linear-gradient(135deg, #f7f7f8, #ede0e8);
  font-family: 'Segoe UI', sans-serif;
  
  width: 1910px;
}

.masonry-item img {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.masonry-item img:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.my-masonry-grid {
  display: flex;
  /* margin-left: -40px; gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding: 20px; 
  background-clip: padding-box; 
}

.my-masonry-grid_column > img {
  margin-bottom: 30px;
}

.ril-spinner {
  display: none !important;
}