.navbar-container {
    height: auto;
    width: 100%;
    display:flex;
    flex-direction: column;
    color:#52336c;
    background-color: #f4f0f5;
     font-family: 'Montserrat', sans-serif;
}

.site-header {
    padding: 2rem;
    margin-bottom: 2px;
    margin-top: 20px;
        margin-left:26px;
    display: flex;
    flex-direction: column;
    width: 92%;
     font-family: 'Montserrat', sans-serif;
    color:#52336c;
    max-width: 92%;
    text-align: center;
    background-color: #f4f0f5;
    box-shadow: 0px 2px 8px rgba(206, 187, 203, 0.936);
    transition: padding 0.3s ease, width 0.3s ease;
}

body {
   font-family: 'Montserrat', sans-serif;
  color: #2f2f2f;
  background-color: #fafafa;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
}

button, nav, select {
  font-family: 'Nunito Sans', sans-serif;
}

.footer-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer {
    box-shadow: 0px 2px 8px rgba(206, 187, 203, 0.936);
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f4f0f5;
    text-align: center;
    padding: 2rem;
    width: 92.4%;
    color:#52336c;
    max-width: 93%;
    margin-bottom: 20px;
    transition: padding 0.3s ease, width 0.3s ease;
}

.site-content {
    flex-grow: 1;
    padding: 1rem;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .site-header, .footer-container {
        width: 94%;
        font-family: 'Nunito Sans';
        max-width: 95%;
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .site-header, .footer-container {
        width: 100%; /* header uses full width on mobile */
        max-width: 100%;
        padding: 1rem;
    }

    .site-header nav {
        display: flex;
        flex-wrap: wrap; /* allow routes to wrap */
        justify-content: center; /* center routes */
        gap: 10px; /* spacing between routes */
    }

    .site-header nav a {
        word-break: break-word; /* prevent overflow */
        text-align: center;
    }
}
