.navbar-container {
    height: auto;
    max-width: 1910px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-header {
    padding: 2rem;
    margin-bottom: 2px;
    text-align: center;
    background-color: #f4f0f5;
    box-shadow: 0px 2px 8px rgba(206, 187, 203, 0.936);
}

.footer-container {
    box-shadow: 0px 2px 8px rgba(206, 187, 203, 0.936);
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f0f5;
    /* a soft tone from your gradient */
    text-align: center;
    padding: 2rem;
}

.site-content {
    flex-grow: 1;
    padding: 1rem;
}